@font-face {
	font-family: beer;
	font-display: swap;
	src: url("../fonts/beer-money12.woff2") format("woff2"), url("../fonts/beer-money12.woff") formate("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: pervii;
	font-display: swap;
	src: url("../fonts/pervii.woff2") format("woff2"), url("../fonts/pervii.woff") formate("woff");
	font-weight: 400;
	font-style: normal;
}
